/* ------- */
/* GENERAL */
/* ------- */

:root {
    --background: #17202A;
    --forecolor: #D1F2EB;
  }

html {
    background-color: black;
    color: var(--forecolor);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 1280px;
    margin: auto;
    background-color: var(--background);
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;
}

p {
    font-size: 2rem;
    line-height: 3rem;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    height: 50dvh;
}

h1 {
    font-size: 23dvh;
    line-height: 25dvh;
    text-align: right;
    padding-right: 1vw;
}

/* --- */
/* NAV */
/* --- */

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background);
    box-shadow: 0px 5vh 5vh 0px #17202A;
}

.nav-list {
    position: inherit;
    top: 0;
    height: 10dvh;
    margin-top: 20dvh;
    margin-bottom: 20dvh;
    display: flex;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: #D1F2EB;
    font-size: 8dvh;
}

/* ------------------------------------ */
/* acerca de mi, habilidades y contacto */
/* ------------------------------------ */

.contenido {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20dvh 20vw 10dvh 20vw;
    transition: opacity 2s;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 15dvh;
        li {
            a {
                color: var(--forecolor);
            }
        }
    }
    h2 {
        font-size: 2rem;
    }
}

.contenido-icono {
    font-size: 10dvh !important;
    line-height: 15dvh !important;
}

/* --------- */
/* proyectos */
/* --------- */

#proyectos {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25dvh;
    padding: 10dvh 10dvw 15dvh 10dvw;
    position: relative;
}

.proyecto {
    max-width: 100%;
    max-height: 80dvh;
    position: sticky;
    top: 15dvh;
    background-color: rgb(59, 59, 59);
    overflow: hidden;
    aspect-ratio:  1280 / 800;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
        h3 {
        margin: auto;
        color: white;
        font-size: 1rem;
    }
}

.img-proyecto {
    width: 100%;
}

/* ----------------- */
/* Responsive design */
/* ----------------- */

@media all and (orientation: portrait) {
    h1 {
        font-size: 16vw;
        line-height: 17vw;
    }
    .nav-list {
        height: 40dvh;
        margin-top: 5dvh;
        margin-bottom: 5dvh;
        display: flex;
        flex-direction: column;
    }
    nav {
        position: static;
    }
    .nav-link {
        color: #D1F2EB;
        font-size: 6dvh;
    }
    .contenido {
        padding: 10dvh 5dvh 5dvh 5dvh;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
    #proyectos {
        row-gap: 45dvh;
        padding: 50dvh 2dvw 25dvh 2dvw;
    }
    .proyecto {
        position: sticky;
        top: 55dvh;
        transform: translateY(-50%);
        aspect-ratio:  1280 / 880;
            h3 {
            font-size: 1.5rem;
        }
    }
}


