/* ------- */
/* GENERAL */
/* ------- */

:root {
    --background: #17202A;
    --background-dark: #0c1218;
    --forecolor: #D1F2EB;
  }

html {
    background-color: black;
    color: var(--forecolor);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 1280px;
    margin: auto;
    background-color: var(--background);
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;
}

p {
    font-size: 2rem;
    line-height: 3rem;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    height: 50lvh;
}

h1 {
    font-size: 23svh;
    line-height: 25svh;
    text-align: right;
    padding-right: 1vw;
}

/* --- */
/* NAV */
/* --- */

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background);
    box-shadow: 0 2vh 2vh 0 #17202A;
}

.nav-list {
    position: inherit;
    top: 0;
    height: 5lvh;
    margin-top: 15lvh;
    margin-bottom: 30lvh;
    display: flex;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: var(--forecolor);
    font-size: 8svh;
}

/* ------------------------------------ */
/* acerca de mi, habilidades y contacto */
/* ------------------------------------ */

.block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5svh 10vw 5svh 10vw;
    background-color: var(--background-dark);
    border-radius: 5%;
    ul {
        li {
            display: inline-block;
            a {
                color: var(--forecolor);
            }
        }
    }
    h2 {
        font-size: 2rem;
    }
}

.contenido {
    height: 100lvh;
    padding: 12lvh 10vw 23lvh 10vw;
    transition: opacity 1s;
}

.contenido-icono {
    font-size: 15svh !important;
    line-height: 15svh !important;
}

/* --------- */
/* proyectos */
/* --------- */

#proyectos {
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25svh;
    padding: 10lvh 10vw 10lvh 10vw;
    position: relative;
}

.proyecto {
    transition: opacity 1s;
    max-width: 100%;
    max-height: 80svh;
    position: sticky;
    top: 15svh;
    background-color: var(--background-dark);
    overflow: hidden;
    aspect-ratio:  1280 / 800;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
        h3 {
        margin: auto;
        color: white;
        font-size: 1rem;
    }
}

.img-proyecto {
    width: 100%;
}

/* ----------------- */
/* Responsive design */
/* ----------------- */

@media all and (orientation: portrait) {
    #boton-menu {
        position: fixed;
        top: 0;
        height: 10svh;
        width: 100%;
        z-index: 1000;
        &:hover {
            cursor: pointer;
        }
    }
    h1 {
        font-size: 16vw;
        line-height: 17vw;
    }
    .nav-list {
        height: 35lvh;
        width: 100%;
        margin-top: 0;
        margin-bottom: 15lvh;
        display: flex;
        flex-direction: column;
    }
    nav {
        position: static;
    }
    .nav-link {
        font-size: 6svh;
    }
    .mostrar-nav-item {
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .block {
        padding: 5svh 2.5vw 2.5svh 2.5vw;
        ul {
            li {
                display: list-item;
            }
        }
        h2 {
            font-size: 1.5rem;
        }
        p {
            text-align: center;
        }
    }
    .contenido {
        padding: 10lvh 2.5vw 20lvh 2.5vw;
    }
    #proyectos {
        row-gap: 45svh;
        padding: 50lvh 2vw 25lvh 2vw;
    }
    .proyecto {
        position: sticky;
        top: 55svh;
        transform: translateY(-50%);
        aspect-ratio:  1280 / 880;
            h3 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-height: 550px) {
    p {
        font-size: 5svh;
        line-height: 7svh;
    }
}

/* --------------- */
/* Menu para movil */
/* --------------- */

.nav-inicio {
    position: fixed;
    top: 0;
    height: 50lvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        i {
            display: block;
        }
    }
}

#menu {
    display: none;
}

.menu {
    display: block !important;
    position: fixed;
    top: 0;
    height: 100lvh;
    width: 100vw;
    background-color: rgba(23, 32, 42, 0.8);
    z-index: 100;
    .nav-list {
        position: relative;
        top: 50lvh;
        li {
            flex-grow: 1;
            text-align: center;
        }
    }
}